<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <% block seo_meta %>
    <% include 'inc/seo_header.html' %>
    <% endblock %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    
    <link rel="stylesheet" href="<%= this['@uri']['root'] %>/minify/css/<% filter base64 %>
          css/common/reset.css,
          css/common/form.css,
          css/common/typography.css,
          css/rants/style.css,
          js/mootools/FormCheck/theme/classic/formcheck.css,
          js/mootools/Roar/Roar.css,
          js/syntaxhighlighter-3.0.83/styles/shCore.css,
          js/syntaxhighlighter-3.0.83/styles/shCoreDefault.css,
    <% endfilter %>" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt|Anton' rel='stylesheet' type='text/css'>
    
    <script src="<%= this['@uri']['root'] %>/js/mootools/1.2.4.js" language="javascript" type="text/javascript"></script>
    <script src="<%= this['@uri']['root'] %>/minify/js/<% filter base64 %>
            js/mootools/FormCheck/lang/en.js,
            js/mootools/FormCheck/FormCheck.js,
            js/mootools/Roar/Roar.js,
            js/rants/init.js
    <% endfilter %>" language="javascript" type="text/javascript"></script>

    <script src="<%= this['@uri']['root'] %>/js/syntaxhighlighter-3.0.83/shCore.js" language="javascript" type="text/javascript"></script>
    <script src="<%= this['@uri']['root'] %>/js/syntaxhighlighter-3.0.83/shBrushJScript.js" language="javascript" type="text/javascript"></script>
    <script src="<%= this['@uri']['root'] %>/js/syntaxhighlighter-3.0.83/shBrushPhp.js" language="javascript" type="text/javascript"></script>
    <script src="<%= this['@uri']['root'] %>/js/syntaxhighlighter-3.0.83/shBrushRuby.js" language="javascript" type="text/javascript"></script>
    <script src="<%= this['@uri']['root'] %>/js/syntaxhighlighter-3.0.83/shBrushBash.js" language="javascript" type="text/javascript"></script>

    <link href="<%= this['@uri']['root'] %>/js/syntaxhighlighter-3.0.83/styles/shCustomRants.css" rel='stylesheet' type='text/css'>

    <% block header %>
    <% endblock %>

    <script language="javascript"><% filter jsminify|raw %>

      var appvar = new Hash({});
      var theRoar = null;
      var requestURI = '<%= params['server']['REQUEST_URI'] %>';
      
      <% filter pulltag('script')|raw %>
      <% block jsinline %><% endblock %>
      <% endfilter %>

      window.addEvent('domready', function(){

        theRoar = new Roar({
          position: 'bottomLeft',
          duration: 9189
        });

        try {
          $$('.theRoar').each(function(el){
            var msg = el.get('html').trim();
            var title = 'Success';
            (function(){
              if (el.hasClass('error')){
                theRoar.options.className = 'roar-alert';
                title = 'Error';
              }
              theRoar.alert(title, msg);
            }).delay(800);

          });
        } catch (e) {};

        <% filter pulltag('script')|raw %>
        <% block jsdomready %><% endblock %>
        <% endfilter %>

        SyntaxHighlighter.all();
      });
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22315708-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
<% endfilter %></script>
  </head>

  <body style="background:#E6E6E6 ;">

    <% if this['@notify.status'] or this['@notify.errors'] %>
      <div style="display:none ">
        <% if this['@notify.status'] %>
        <div class="theRoar" >
          <% for msg in this['@notify.status'] %>
          <%= msg %><br>
          <% endfor %>
        </div>
        <% endif %>
        <% if this['@notify.errors'] %>
        <div class="theRoar error" >
          <% for msg in this['@notify.errors'] %>
          <%= msg %><br>
          <% endfor %>
        </div>
        <% endif %>
      </div>
    <% endif %>
    
    <div class="main_content_head" style="">
      <div class="main_content_body">
        <h1 style="">
          <b>- Rants from Me -</b>
          <em>%@$!*%&</em>
        </h1>
      </div>
    </div>
    
    <div class="main_content_body" style="position:relative; ">
      <div class="main_nav" style="">
        <% block menu %>
        <a class="nav" href="/">Rants</a><hr />
        <a class="nav" href="/whoami">Who am i?</a><hr />
        <a class="nav" href="/contact">Contact</a><hr />
        <% endblock %>
      </div>
      
      <div class="main_blog" style="">
        <% block body %>
        <h2>The quick brown jumps the lazy dog</h2>
        <hr>
        <i class="postby">by Qen | 2011.03.12</i>
        <p>wisi <a>enim</a> ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitati</p>
        <p>wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitati</p>

        <br class="break" />
        <h2>wisi enim ad minim veniam</h2>
        <hr>
        <i class="postby">by Qen | 2011.03.12</i>
        <p>wisi <a>enim</a> ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitati</p>
        <p>wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitati</p>

        <br class="break" />
        <% endblock %>
      </div>
      <br style="clear:both;" />
    </div>
    <br />
    <div class="main_content_footer">
      <div class="main_content_body">
        <!--
        <h3>Credits</h3>
        <a>http://www.brusheezy.com/Brushes/1341-Tears</a>
        <br />
        COLOR PALLETE
        http://www.colourlovers.com/web/trends/websites/7850/Etsy
        http://www.colourlovers.com/web/trends/websites/7853/KICKSTARTER
        -->
        <br />
        <blockquote><%= quotes() %></blockquote> 
        <div class="copy">&copy; Qen Empaces. All Rights Reserved.</div>
        
      </div>
    </div>
    
  </body>
</html>
