<% extends 'skin/appmanager.html' %>
<% block content %>
<h2>Profile</h2>
<br />
<div style="width: 500px; margin: 0 auto;">
<form class="form pinoyjobs" method="post" action="<%= this['@uri.path'] %>/account/save" method="post" enctype="multipart/form-data" >



  <label class="left requiredleft" style="width:400px">Username<em>Sorry but your username can't be change :)</em></label><br />
  <input class="left" type="text" value="<%= details.User.usr_username %>" style="background-color: #efefef" readonly ><br />

  <label class="left requiredleft">First Name</label><br />
  <input class="left" type="text" name="d[acnt_name_prefix]" value="<%= details.acnt_name_prefix %>"><br />

  <label class="left requiredleft">Last Name</label><br />
  <input class="left" type="text" name="d[acnt_name_suffix]" value="<%= details.acnt_name_suffix %>"><br />

  <label class="left requiredleft">Email Address</label><br />
  <input class="left" type="text" name="d[acnt_email]" value="<%= details.acnt_email %>"><br />
  <br />

  <input type="submit" name="Submit" value="Submit" class="left labeltab" /><br />

  <br />
</form>
</div>

<% endblock %>
