<% extends 'skin/appmanager.html' %>
<% block header %>
<style type="text/css">
<% filter cssminify|raw %>
a.page {
    background:none repeat scroll 0 0 #FBFBF3;
    border:1px solid #CCCCCC;
    color:#888888;
    margin:10px auto;
    padding:8px;
    width:540px;
    font-family: Georgia,"Times New Roman";
    font-size: 18px;
    display:block;
    position:relative;

}
a.page:hover{
    border:1px solid #ff9900;
    text-decoration: none;
}
a.page p {
    font-size: 12px;
}
a.page:hover h5 {
  text-decoration: underline;
}
<% endfilter %>
</style>
<% endblock %>

<% block content %>
  <p>Yey!</p>
  <br />
<% endblock %>
