.syntaxhighlighter {
  background-color: white !important;
  border: 1px inset #888888;
  padding: 4px 0;
  font-size: 14px !important;
}

.syntaxhighlighter div.toolbar {
  display: none !important;
}

.syntaxhighlighter .gutter .line {
  border-right: 2px solid #CCCCCC !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: red !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: rgb(255,153,0) !important;
}

.syntaxhighlighter .functions {
  color: blue !important;
}

.syntaxhighlighter.bash .comments, .syntaxhighlighter .comments a{
  color: #0000AA !important;
}
.syntaxhighlighter.bash .plain, .syntaxhighlighter .bash {
  color: #fff !important;
}
.syntaxhighlighter.bash, .syntaxhighlighter.bash .line.alt1, .syntaxhighlighter.bash .line.alt2, .syntaxhighlighter.bash table td.gutter .line{
  background-color: #111 !important;
}
.syntaxhighlighter.bash .bash.keyword, .syntaxhighlighter.bash .bash.functions{
  color: yellow !important;
}
.syntaxhighlighter.bash .bash.string {
  color: red !important;
}