<% extends 'skin/appmanager.html' %>
<% import 'inc/ui/textsearch.html' as textsearch %>
<% block header %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="<%= Uri.root %>js/mootools/Mmap/MMap.js"></script>
<script type="text/javascript" src="<%= Uri.root %>js/mootools/wysiwyg/wysiwyg.js"></script>
<link rel="stylesheet" href="<%= Uri.root %>js/mootools/wysiwyg/style.css" type="text/css" />
<%= textsearch.css() %>
<style type="text/css">
<% filter cssminify|raw %>
dl.propertyfeatures {
    width: 540px;
    margin: 0 auto;
}
dl.propertyfeatures dd {
    background:none repeat scroll 0 0 #F8F8F8;
    border:1px solid #e8e8e8;
    padding:10px 1px;
    position:relative;
    margin: 5px auto;
}
dl.propertyfeatures dd label{
    width:140px;
    cursor: move;
}
dl.propertyfeatures dd a.remove {
    position: absolute;
    right: 100px;
    margin:0 5px 0 0;
}
dl.propertyfeatures dd input {
  padding-right: 30px;
}
div#fileattachments-lists ul li a.remove{
  position: absolute;
  right: 7px;
  bottom: 16px;
  width:16px;
  height:16px;
}
<% endfilter %>
</style>
<% endblock %>

<% block jsdomready %>
<%= textsearch.js() %>
<script language="javascript" >
/** GMAP - start **/
(function(){
    var gmap = new MMap($("gmap"), {
        "center":  {"lat": appvar.property.settings.map.lat, "lng": appvar.property.settings.map.lng},
        "zoom": appvar.property.settings.map.zoom,
        "mapType": "roadmap"
    });

    var marker = new google.maps.Marker({
          'map': gmap.map,
          'position': new google.maps.LatLng(appvar.property.lat, appvar.property.lng ),
          'draggable': true
    });

    var gotomarker = new Element('div', {
        'styles': {
            'background': '#ffffff',
            'padding': '1px 5px',
            'border': '1px outset #000000',
            'margin' : '5px 0',
            'cursor':'pointer',
            'font-size': '10px',
            'font-family': 'verdana'
        },
        'html': 'Goto Marker',
        'events': {
            'mousedown': function(){
                this.setStyles({
                    'background': '#cccccc',
                    'border-style': 'inset'
                })
            },
            'mouseup': function(){
                this.setStyles({
                    'background': '#ffffff',
                    'border-style': 'outset'
                })
            },
            'click': function(){
                gmap.map.setCenter(marker.getPosition());
                this.fireEvent('mouseup');
            }
        }
    });

    gmap.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(gotomarker);

    var geocoder = new google.maps.Geocoder();

    $('propertyaddress').addEvent('click', function(){
        var addy = '';
        $$('input.propertyaddress').get('value').each(function(el){
            addy += el +' ';
        });

        geocoder.geocode({'address': addy}, function(results, status){
            if (status != google.maps.GeocoderStatus.OK) {
              theRoar.options.className = 'roar-alert';
              theRoar.alert('Locate Address Failed', addy);
              return false;
            }

            marker.setPosition(results[0].geometry.location);
            gmap.map.setCenter(results[0].geometry.location);
            gmap.map.setZoom(14);

        });
    });

    google.maps.event.addListener(gmap.map, "center_changed", function() {
        var point = gmap.map.getCenter();
        $('d[prop_settings][map][lat]').value = point.lat();
        $('d[prop_settings][map][lng]').value = point.lng();
    });

    google.maps.event.addListener(gmap.map, "zoom_changed", function() {
        $('d[prop_settings][map][zoom]').value = gmap.map.getZoom();
    });

    google.maps.event.addListener(marker, "position_changed", function() {
        var point = marker.getPosition();
        $('d[prop_latitude]').set('value', point.lat());
        $('d[prop_longtitude]').set('value', point.lng());
    });
})();
/** GMAP - end **/

/** property feature - start **/
var featurecontainer = $$('dl.propertyfeatures')[0];
var featuresortables = new Sortables(featurecontainer, {
    clone: true,
    opacity: .2,
    handle: '.handler',
    constrain: false,
    revert: {duration: 500, transition: 'elastic:out'},
    'onSort': function(el, i){
        $(i).setStyles({
            opacity: .8
        });
    }
});

var parent_remove = function(){
    this.getParent().destroy();
};

featurecontainer.getElements('a.remove').each(function(aremove){
    aremove.addEvent('click', parent_remove.bind(aremove));
});

$('featurename').addEvents({
   'keypress': function(evnt){
       if (evnt.key == 'enter') {
            evnt.stop();
            this.fireEvent('add');
       }
   },
   'add' : function(){
        var feat = this.get('value').trim().substr(0,50);

        if (feat == ''){
            theRoar.options.className = 'roar-alert';
            theRoar.alert('Property Feature', 'Please specify feature name');
            return false;
        }

        this.set('value', '');

        var check = $$('input[name="features['+feat+']"]');

        if (check.length != 0){
            var li = check[0].getParent('dd');
            theRoar.options.className = 'roar-alert';
            theRoar.alert('Property Feature', 'Feature name already exists');
            return false;
        }

        var li = new Element('dd', {
            'html'	: '<label class="handler">{name}</label> <input name="features[{name}]" value="" type="text"> <a class="remove"></a>'.substitute({ 'name': feat })
        });

        var aremove = li.getElement('a.remove');
        aremove.addEvent('click', parent_remove.bind(aremove));

        featurecontainer.adopt(li);
        featuresortables.addItems(li);

        li.getElement('input').focus();

   }
});
$('featurebtn').addEvent('click', function(){
    $('featurename').fireEvent('add');
});

$$('input.typestat').each(function(el){
    if (el.get('value') & appvar.property.typestat )
        el.fireEvent('click').setProperty('checked', true);
});

$$('a.remove').each(function(el){
    el.setStyle('opacity', 0);
    el.addEvent('click', parent_remove.bind(el));
    el.getParent().addEvents({
      'mouseenter': function(){
        el.setStyle('opacity', 1);
      },
      'mouseleave': function(){
        el.setStyle('opacity', 0);
      }
    });
});
/** property feature - end **/

new wysiwyg({
	textarea: $('wysiwyg').getElement('textarea')
});


TextSearch.url = 'tag/query';
TextSearch.name = function(input){
  return 'Tag';
};
TextSearch.li = function(el){

  if (this.getParent().getElements('a input[value='+el.tag_name+']').length != 0) return false;

  return {
    'html': el.tag_name,
    'rel': el.tag_name,
    'class': 'tags'
  };
};
TextSearch.input_enter = function(){
  if (this.get('value') == '') return false;
  TextSearch.events.select.click.bind(this)();
}
TextSearch.init();

</script>
<% endblock %>

<% block contentname %>Properties<% endblock %>
<% block menu %>
  <h3>Property</h3>
  <a href="<%= Uri.path %>/add">Add</a>
  <a href="<%= Uri.path %>">Search</a>
  <% if details.propertyid %>
  <a class="ConfirmBox" href="<%= Uri.path %>/<%= details.propertyid %>/delete" title="Continue to Delete Property?" style="color:#ccc;" >Delete</a>
  <a class="SmoothScroll" href="#images">Property Images</a>
  <a class="SmoothScroll" href="#features">Property Features</a>
  <a class="SmoothScroll" href="#metatags">Property SEO</a>
  <% endif %>
<% endblock %>

<% block body %><a name="top"></a>
    <form class="form FormCheck" action="<%= Uri.path %>/save" method="post" enctype="multipart/form-data" autocomplete="off">
      <input name="d[propertyid]" value="<%= details.propertyid|default(0) %>" type="hidden" />
      <input name="d[prop_typestat][]" value="0" type="hidden" />
        <h3>
        <%= details.propertyid ? 'Property ID #' ~ details.propertyid : 'Add Property' %>
        </h3>
        <hr>

        <label class="required">Property Name</label>
        <input name="d[prop_name]" value="<%= details.prop_name %>" type="text"  class="validate['required'] "><br/>

        <label class="required">Property Price</label>
        <input name="d[prop_price_value]" value="<%= details.prop_price_value %>" class="validate['required'] "><br/>

        <label class="">List Order #</label>
        <input name="d[prop_sort]" value="<%= details.prop_sort|default(1) %>" type="text"  class=" " style="width:100px;"><br/>
        <label>Tags</label><div>
          <%= textsearch.html(details.Tags, 'Tag', 'tag_name', 'tag_name') %>
        </div><br />
        <label>Settings </label><div class="fL">
          <input name="d[prop_typestat][]" value="1" class="left typestat" id="typebit1" type="checkbox"><label class="left normal" for="typebit1" style="">Shown</label><br>
          <input name="d[prop_typestat][]" value="2" class="left typestat" id="typebit2" type="checkbox"><label class="left normal" for="typebit2" style="">Featured</label><br>
          <input name="d[prop_typestat][]" value="4" class="left typestat" id="typebit4" type="checkbox"><label class="left normal" for="typebit4" style="">Sold</label><br>
        </div><br />
        <br />
        <label class="">Property Address</label><br />
        <label class="required normal" >Street</label><div class="fL">
          <input name="d[prop_street1]" type="text" value="<%= details.prop_street1 %>" maxlength="255"  class="validate['required'] propertyaddress" /><br />
          <input name="d[prop_street2]" type="text" value="<%= details.prop_street2 %>" maxlength="255" class="propertyaddress" />
        </div><br />

        <label class="required normal" >City</label>
        <input name="d[prop_city]" type="text" value="<%= details.prop_city %>" maxlength="255"  class="validate['required'] propertyaddress" /><br />

        <label class="required normal">State</label>
        <input name="d[prop_state]" type="text" value="<%= details.prop_state %>" maxlength="255"  class="validate['required'] propertyaddress" /><br />

        <label class="normal" >Country</label>
        <input name="d[prop_country]" type="text" value="<%= details.prop_country|default('US') %>" maxlength="255" class="propertyaddress" readonly /><br />

        <label class="normal" >Zipcode</label>
        <input name="d[prop_zipcode]" type="text" value="<%= details.prop_zipcode %>" maxlength="255"  class="propertyaddress"/><br />

        <label>Map<em>Drag the red marker to correct property location</em></label><div class="fL" style="padding: 0 0 18px 0;">
            <input id="propertyaddress" type="button" value="Locate Address" class="tiny"/><br />
            <input type="hidden" id="d[prop_settings][map][lat]" name="d[prop_settings][map][lat]" value="<%= details.prop_settings.map.lat %>" />
            <input type="hidden" id="d[prop_settings][map][lng]" name="d[prop_settings][map][lng]" value="<%= details.prop_settings.map.lng %>" />
            <input type="hidden" id="d[prop_settings][map][zoom]" name="d[prop_settings][map][zoom]" value="<%= details.prop_settings.map.zoom %>" />
            <input type="hidden" id="d[prop_latitude]" name="d[prop_latitude]" value="<%= details.prop_latitude %>" />
            <input type="hidden" id="d[prop_longtitude]" name="d[prop_longtitude]" value="<%= details.prop_longtitude %>" />
            <br />
            <div id="gmap" style="width:450px; height: 240px;"></div>
        </div><br />
        <br />
        <label>MLS #</label>
        <input name="d[prop_mls]" value="<%= details.prop_mls %>" type="text"><br/>

        <label class="required">Beds <em>Number of Bedrooms</em></label>
        <input name="d[prop_beds]" value="<%= details.prop_beds %>" type="text"><br/>

        <label class="required">Baths <em>Number of Bathrooms</em></label>
        <input name="d[prop_baths]" value="<%= details.prop_baths %>" type="text"><br/>

        <label>Living Area Size</label>
        <input name="d[prop_livingsize]" value="<%= details.prop_livingsize %>" type="text"><br/>

        <label>Lot Size</label>
        <input name="d[prop_lotsize]" value="<%= details.prop_lotsize %>" type="text"><br/>

        <label>Year Built</label>
        <input name="d[prop_yearbuilt]" value="<%= details.prop_yearbuilt %>" type="text"><br/>
        <br />
        <label>Description<em>Remarks</em></label>
        <textarea name="d[prop_descr]" style="width: 240px; height: 180px;"><%= details.prop_descr %></textarea><br />
        
        <hr />
        <input value="Save" type="submit" class="">
        <br />
        <br />
        <br />
        <br />
        <sup class="fR"><a href="#top" class="SmoothScroll" style="font-size:10px">Top</a><a name="images"></a></sup>
        <h3>Property Details</h3>
        <hr>
        <div class="weezee" id="wysiwyg">
            <textarea name="d[prop_details]" rows="5" cols="30"><%= details.prop_details %></textarea>
        </div>
        <br />
        <input value="Save" type="submit" class="">
        <br>
        <br>
        <br />
        <br>
        <sup class="fR"><a href="#top" class="SmoothScroll" style="font-size:10px">Top</a><a name="images"></a></sup>
        <h3>Property Images</h3>
        <hr/>
        <br />
        <div id="fileattachments-lists" class="" style="width:100%;">
          <ul class="Sortables docs block" style="padding-bottom: 18px; margin:0px; width:100%;" >
            <% set files = (Post.images is none ? details.Files : Post.images)  %>
            <% for item in files %>
            <% if item.fileid %>
            <li style="background-color: #e0e0e0; padding: 4px; width:200px; float:left; margin: 3px; position:relative; ">
              <a class="remove"></a>
              <div id="" class="imagecontainer handler" style="overflow:hidden; width:auto; height: 100px; background: url('<%= Uri.path %>/<%= details.propertyid %>/image/<%= item.fileid%>') no-repeat scroll center; " ></div>
              <hr class="dot" />
              <input type="hidden" name='images[<%= item.fileid %>][fileid]' value="<%= item.fileid %>" >
              <input type="hidden" name='images[<%= item.fileid %>][file_name]' value="<%= item.file_name %>" >
              <input type="text" name='images[<%= item.fileid %>][file_title]' value="<%= item.file_title %>" style="width:170px; padding-right:23px;" >
              <br />
            </li>
            <% endif %>
            <% endfor %>
          </ul>
        </div>
        <br />
        <br />
        <div id="fileattachments-uploader">
        <div class="uploadfield" style="width:auto; background-color:#ebebeb; padding:10px; border: 2px dashed #c8c8c8; " >
          <br />
          <div style="text-align:center; width:100%">
            <% for i in 0..1 %>
            <input type="hidden" name='images[uploadfile<%= i %>][fileid]' value="0" >
            <input type="hidden" name='images[uploadfile<%= i %>][file_index_name]' value="uploadfile<%= i %>" >
            <input name='uploadfile<%= i %>' type="file" style="width:auto"  /><br />
            <% endfor %>
          </div>
          <hr />
          <input type="submit" value="Save" style="" /> <input type="submit" value="Upload" style="" />
          <br />
        </div>
        </div>
        <br />
        <br />
        <br />
        <sup class="fR"><a href="#top" class="SmoothScroll" style="font-size:10px">Top</a><a name="features"></a></sup>
        <h3>Property Features</h3>
        <hr/>
        <input type="hidden" name='features[]' value="" >
        <div style="width:540px; margin: 0 auto;">
            <dl class="propertyfeatures">
            <% for item in details.CustomFields %>
            <dd> <label class="handler"><%= item.field_name %></label> <input name="features[<%= item.field_name %>]" value="<%= item.field_value %>" type="text"> <a class="remove"></a></dd>
            <% else %>
              <% for item in default_features %>
              <dd> <label class="handler"><%= item %></label> <input name="features[<%= item %>]" value="" type="text"> <a class="remove"></a></dd>
              <% endfor %>
              <% for item, value in Post.features %>
              <dd> <label class="handler"><%= item %></label> <input name="features[<%= item %>]" value="<%= value %>" type="text"> <a class="remove"></a></dd>
              <% endfor %>
            <% endfor %>
            </dl>
            <div style="background:none repeat scroll 0 0 #F8F8F8; border:2px dashed #C8C8C8; padding:18px 18px 10px; position:relative;">
                <input type="text" id="featurename" value="" class="OverText" alt="Enter Feature Name" /> <input id="featurebtn" type="button" value="Add" />
            </div>
        </div>
        <br />
        <hr>
        <input value="Save" type="submit" class="">
        <br />
        <br />
        <br />
        <sup class="fR"><a href="#top" class="SmoothScroll" style="font-size:10px">Top</a><a name="metatags"></a></sup>
        <h3>Property SEO</h3>
        <hr/>
        <br />
        <label class="" >Page Title</label>
        <input name="d[Metatags][page_title]" type="text" value="<%= details.Metatags.page_title|default(details.prop_name) %>" /><br />
        
        <label class="" >Meta tag  Title</label>
        <input name="d[Metatags][meta_title]" type="text" value="<%= details.Metatags.meta_title %>" /><br />

        <label class="" >Meta tag Description</label>
        <input name="d[Metatags][meta_descr]" type="text" value="<%= details.Metatags.meta_descr %>" /><br />

        <label class="" >Meta tag Keywords</label>
        <input name="d[Metatags][meta_keywords]" type="text" value="<%= details.Metatags.meta_keywords %>" /><br />

        <label class="" >Analytics</label>
        <textarea name="d[Metatags][meta_analytics]" style="width: 240px; height: 180px;"><%= details.Metatags.meta_analytics %></textarea><br />

        <br />
        <hr>
        <input value="Save" type="submit" class="">
        <br />
        <br />
    </form>
    <br />
    <br />

    <br />
    <br />
<div class="appvar"><% spaceless %>{
property : {
    typestat: <%= details.prop_typestat|default(0) %>,
    lat: <%= details.prop_latitude|default(35.31736632923787) %>,
    lng: <%= details.prop_longtitude|default(-38.671875) %>,
    settings: {
        map: {
          lat: <%= details.prop_settings.map.lat|default(35.17380831799959) %>,
          lng: <%= details.prop_settings.map.lng|default(-95.625) %>,
          zoom: <%= details.prop_settings.map.zoom|default(2) %>
        }
    }
}
}<% endspaceless %></div>
<% endblock %>
