<% extends 'skin/rants.html' %>

<% block seo_meta %>
  <% set seo_page_title = page.Metatags.page_title %>
  <% set seo_meta_descr = page.Metatags.meta_descr %>
  <% set seo_meta_keywords = page.Metatags.meta_keywords %>
  <% include 'inc/seo_header.html' %>
<% endblock %>

<% block header %>
<meta property="og:title" content="<%= page.page_title %> "/>
<meta property="og:site_name" content="<%= Account.acnt_title|default('Petal') %>"/>

<% endblock %>


<% block body %>
<br />
<h2><%= page.page_title %></h2>
<%= page.page_details|raw %>
<br />
<% if page.page_settings.form %>
<form class="form" method="post" action="">
  <input type="hidden" name="formid" value="<%= this['@flash'].page_form_uuid %>" /><br />
  <% import 'inc/page/form.html' as form %>
  <%= form.create(page.page_settings.form, this['@flash'].form_post) %>
  
  <a style="margin: 24px 0 0 165px; line-height:45px; font-size: 18px;" class="rantsbutton formsubmit">Send</a>

</form>
<br />
<br />
<% endif %>

<% endblock %>