<% extends 'skin/rants.html' %>
<% import 'inc/pagenav.html' as pagenav %>

<% block seo_meta %>
  <% set meta = blog.Metatags  %>

  <% set seo_page_title = blog.Metatags.page_title %>
  <% if seo_page_title is blank %>
    <% set seo_page_title = blog.blog_title %>
  <% endif %>

  <% set seo_meta_descr = blog.Metatags.meta_descr %>
  <% if seo_meta_descr is blank %>
    <% set seo_meta_descr = blog.blog_descr %>
  <% endif %>

  <% set seo_meta_keywords = blog.Metatags.meta_keywords %>

  <% include 'inc/seo_header.html' %>
<% endblock %>


<% block header %>
<meta property="og:title" content="Qen empaces web developer's rants "/>
<meta property="og:site_name" content="rantsfrom.me"/>
<%= pagenav.css() %>
<% endblock %>

<% block jsdomready %>
<script type="text/javascript">

</script>
<% endblock %>


<% block body %>
  <br />
  <div class="posttitle">
  <h2><%= blog.blog_title %></h2>
  <div class="postinfo" >
    <i class="postby"><%= blog.blog_date|date('Y') %><br/><span><%= blog.blog_date|date('m.d') %></span></i>
    <div class="tags">
      <% for tag in blog.Tags %>
      <a href="<%= this['@uri.path'] %>/tag/<%= tag.tag_name %>"><%= tag.tag_name %></a>
      <% endfor %>
    </div>
  </div>
  </div>
  <div class="postcontent">
  <%= blog.blog_details|markdown|raw %>
  </div>
  <br class="break" />

<% endblock %>
