<% extends 'skin/rants.html' %>
<% block seo_meta %>
  <% set seo_page_title = page.Metatags.page_title %>
  <% set seo_meta_descr = page.Metatags.meta_descr %>
  <% set seo_meta_keywords = page.Metatags.meta_keywords %>
  <% include 'inc/seo_header.html' %>
<% endblock %>

<% block header %>
<meta property="og:title" content="Qen empaces web developer's rants "/>
<meta property="og:site_name" content="rantsfrom.me"/>
<% endblock %>


<% block body %>
<br />
<h2><%= page.page_title %></h2>
<%= page.page_details|raw %>
<br />
<% if page.page_settings.form %>
<form class="form" method="post" action="">
  <input type="hidden" name="formid" value="<%= this['@flash'].page_form_uuid %>" />
  <% import 'inc/page/form.html' as form %>
  <%= form.create(page.page_settings.form) %>
  <input type="submit" value="Poke" class="indent" />
</form>

<% endif %>

<% endblock %>