<% macro css() %>
<style><% filter cssminify|raw %>
div.pagenav *{
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
  color: #778DA8 !important;
  text-align: center;
}
div.pagenav a{
	cursor:pointer;
  font-size: 10px !important;
	font-weight:bold;
  padding: 2px 4px;
  color: #0473BB !important;
  text-decoration: none;
}
div.pagenav a:hover{
  background: #778DA8 !important;
  color:#f8f8f8 !important;
  text-decoration: underline;
}
div.pagenav a.disabled, div.pagenav a.disabled:hover{
  color:#BFCCDF !important;
  background: inherit !important;
}
div.pagenav a.current, div.pagenav a.current:hover{
	font-weight:bold;
  border-bottom: 2px solid #778DA8;
  color:#BFCCDF !important;
  background: inherit !important;
}
div.pagenav span.pageno {
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 10px 5px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  margin: 0px 5px;
}
div.pagenav a.first, div.pagenav a.last{
  text-decoration:underline !important;
}
<% endfilter %></style>
<% endmacro %>

<% macro html(parameters) %>
<% set pagenav = numpage(parameters) %>

  <% autoescape false %>
	<div class="pagenav">
  <p>
  <% for page, nav in pagenav %>
  <a class="<%= nav.class %>" href="?<%= nav.href %>" ><%= page %></a>
  <% endfor %>
  </p>
	</div>
  <% endautoescape %>

<% endmacro %>


