<title><%= (seo_page_title is not blank) ? seo_page_title ~ ' | ' : '' %> Qen Empaces, a web developer's rants</title>
<meta name="description" content="<%= (seo_meta_descr is not blank) ? seo_meta_descr ~ ' | ' : '' %> Qen Empaces is a freelance web developer/consultant with over 9 years experience in web development, primarily works with php, ruby and rails, mootools, jquery and html5 stuff <%= (meta.meta_descr is not none) ? '| ' ~ meta.meta_descr : '' %>" />
<meta name="keywords" content="Qen Empaces, web developer, web consultant, php developer, ruby and rails developer, mootools code junkie, jquery scripter <%= (seo_meta_keywords is not blank) ? ', ' ~ seo_meta_keywords : '' %>" />
<meta name="title" content="Philippines - Web Developer" />
