<% extends 'skin/appmanager.html' %>
<% import 'inc/pagenav.html' as pagenav %>

<% block header %>
  <%= pagenav.css() %>
<% endblock %>

<% block contentname %>Account<% endblock %>
<% block menu %>
  <h3>Account</h3>
  <a href="add">Add</a>
<% endblock %>

<% block body %>
  <form class="form" action="" >
  <input name="q" class="left OverText" alt="Search Account Name"> <input class="tiny" type="submit" value="Search" /><br />
  <br />
  <% if result %>
  <table>
      <tr>
          <th>Account</th>
          <th width="180px">Status</th>
      </tr>
      <% for item in result %>
      <tr class="<%= cycle(['row2', 'row1'], loop.index) %>">
          <td>
              <a href="<%= Uri.path %>/<%= result.accountid %>"><%= result.acnt_name %> <%= result.acnt_name_suffix %></a>
              <br />
              <p style="color:#000;"><%= result.User.usr_email|default('none') %></p>
          </td>
          <td>
            <%= result.acnt_typestat AND 1 ? 'Active' : 'Inactive' %>
          </td>
      </tr>
      <% endfor %>

  </table><br />
  <%= pagenav.css(numpage, Get) %>
  <% else %>
  <ul class="">
      <li>Enter key words to search for account name.</li>
      <li>Blank search will display all accounts.</li>
  </ul>
  <% endif %>
  </form>
<% endblock %>
