<% extends 'skin/appmanager.html' %>
<% import 'inc/pagenav.html' as pagenav %>

<% block header %>
  <%= pagenav.css() %>
  <style>
  a.action {
    font-size:10px;
  }
  </style>
<% endblock %>

<% block contentname %>Blogs<% endblock %>
<% block menu %>
  <h3>Blogs</h3>
  <a href="<%= params['uri'].path %>/add">Add</a>
  <a href="<%= params['uri'].path %>/">View All</a>
<% endblock %>

<% block body %>
  <form class="form" action="" >
    <input name="q" value="<%= params['get'].q|raw %>" class="left OverText" alt="Search Title"> <input class="tiny" type="submit" value="Search" />
  <hr>
  <% if result %>
  <table class="listbox">
      <% for item in result %>
      <tr class="<%= cycle(['row2', 'row1'], loop.index) %>">
          <td>
            <%= result.status %><br />
            <%= result.blog_date %>
          </td>
          
          <td>
            <a href="<%= params['uri'].path %>/<%= result.blogid %>"><%= result.blog_title %></a>
              <br />
              <p style="color:#aaa;"><%= result.blog_descr %></p>
              <% if facebook %>
              <hr>
              <% spaceless %>
              
              <span style="font-size:10px;">Push to: </span>
              &bull; <a class="action" href="<%= params['uri'].path %>/<%= result.blogid %>/fbpost" >Facebook Wall</a>
              
              <% endspaceless %>
              <br />
              <br />
              <% endif %>
          </td>
          
      </tr>
      <% endfor %>
 
  </table><br />
  <%= pagenav.html(result.numpage) %>
  <% else %>
  <ul class="">
      <li>Enter key words to search for blog title.</li>
      <li>Blank search will display all blog posts.</li>
  </ul>
  <% endif %>
  </form>
<% endblock %>
