<% macro html(form, page_form_uuid, form_post) %>
<form class="form" method="post" action="">
  <input type="hidden" name="formid" value="<%= page_form_uuid %>" />
  <%= _self.create(name, item, form_post) %>
  <br />
  <input type="submit" value="Submit" class="indent" />
</form>
<% endmacro %>

<% macro create(param, form_post) %>

  <% for name,item in param %>
  <label class="<%= item.class %>"><%= item.title|default(item.name) %><em><%= item.descr %></em></label>
  <%= _self.input(name, item, form_post) %>
  <br />
  <% endfor %>

<% endmacro %>

<% macro input(name, param, post) %>

<% if param.type == 'textarea' %>
<textarea name="f[<%= name %>]" cols="40" rows="9" ><%= post[name]|default(param.default) %></textarea>
<% else %>
<input type="text" value="<%= post[name]|default(param.default) %>" name="f[<%= name %>]" />
<% endif %>

<% endmacro %>




