
body
{
  background: #A3A9B5;
  margin: 0px;
  font-family: "Lucida Grande", Verdana, Arial;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  height: 100%;
}

.gc_body
{
  height: 100%;
  overflow: hidden;
}

.gc_header
{
  width: 900px;
  margin: 0px auto 0px;
  color: #ffffff;
  margin-top: 15px;
  position:relative;
}

#gi_topMenu
{
  float: right;
}

#gi_topMenu a
{
  color: #ffffff;
  text-decoration: underline;
}

#gi_topMenu a:hover
{
  color: #ffff00;
  text-decoration: underline;
}

h1
{
  font-family: Arial;
  color: #ffffff;
  font-size: 30px !important;
  font-weight: bold;
  margin: 15px auto;
}

#gi_menu
{
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  display: inline-block;
  margin: 10px 0px 0px 45px;
  width:auto;

}
#gi_menu a{
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background: #888888;
  color: #efefef;
  text-decoration: none;
  border-left: 1px solid #cccccc;
  font-weight: bold;
  font-size: 12px;
}
#gi_menu a.sel
{
  background: #ff9900;
  color: #fff;
  border-left: 1px solid #cccccc;
}

#gi_menu a:hover
{
  background: #ffb23e;
  color:#fff;
}


.gc_box
{
  background: #fcfcfc;
  border-top: 4px solid #ff9900;
  width: 900px;
  margin: 0px auto 0px;
  padding: 17px;
}

.gc_box h2
{
  background: #666666;
  color: #ffffff;
  font-family: Times New Roman;
  font-size: 24px;
  padding: 5px 10px;
  margin: 0px;
  font-weight:normal;
}

.gc_box .menu
{
  width: 150px;
  float: left;
  position: relative;
  margin: 20px 0px 40px 0px;
  border-right: 1px solid #cccccc;
  padding-right: 22px;
  padding-bottom: 29px;
}

.gc_box .menu h3
{
  background:none repeat scroll 0 0 #D0C6A3;
  border-bottom:1px solid #CCCCCC;
  color:#000000;
  font-size:12px !important;
  font-weight:bold;
  margin-top:29px;
  padding:8px 9px;
  text-align:left;
}

.gc_box .menu a
{
  display: block;
  color: #444444;
  border-bottom: 1px solid #cccccc;
  text-decoration: none;
  padding: 8px 9px;
  font-weight:normal !important;
}

.gc_box .menu a:hover
{
  color: #000000;
  background: #ECECEC;
}


.gc_box .body
{
  float:left;
  margin:20px 0 40px 25px;
  width:700px;
  position:relative;
}

.gc_box .body h3, .gc_box .body h4
{
  font-family: Georgia, "Times New Roman";
  font-size: 24px;
  color: #333333;
  font-weight:normal;
}

.gc_box .body h4 {
  font-size: 18px;
}

table
{
  width: 100%;
}

table th
{
  background: #999999;
  color: #ffffff;
  text-align: left;
  padding: 5px;
}

table td
{
  color: #000000;
  text-align: left;
  padding: 5px;
  vertical-align: top;
}

table tr
{
  background: transparent;
}

table tr.row2
{
  background: #f6f6f6;
}

a {
  color: #ff9900;
  text-decoration:none;
  padding: 5px 0;
  font-weight:bold !important;
}

a:hover {
  color: #ff9900;
  text-decoration: underline;
}

table.listbox tr{
  margin: 18px 0;
  padding: 5px 10px;
  display: block;
  border: 1px solid #e4e4e4;
}
table.listbox tr:hover{
  border: 1px solid #FF9900;
  -moz-box-shadow: 1px 1px 8px #d4d4d4;
  -webkit-box-shadow: 1px 1px 8px #d4d4d4;
  box-shadow: 1px 1px 8px #d4d4d4;
}