<% extends 'skin/appmanager.html' %>
<% import 'inc/pagenav.html' as pagenav %>

<% block header %>
  <%= pagenav.css() %>
<% endblock %>

<% block contentname %>Blogs<% endblock %>
<% block menu %>
  <h3>Blogs</h3>
  <a href="<%= Uri.path %>/add">Add</a>
<% endblock %>

<% block body %>
  <form class="form" action="" >
  <input name="q" class="left OverText" alt="Search Title"> <input class="tiny" type="submit" value="Search" /><br />
  <br />
  <% if result %>
  <table>
      <tr>
          <th >title</th>
          <th width="100px">Status</th>
      </tr>
      <% for item in result %>
      <tr class="<%= ['row2', 'row1']|cycle(loop.index) %>">
          <td>
            <a href="<%= Uri.path %>/<%= result.blogid %>"><%= result.blog_title %></a>
              <br />
              <p style="color:#aaa;"><%= result.blog_descr %></p>
          </td>
          <td>
            <%= result.status %>
          </td>
      </tr>
      <% endfor %>

  </table><br />
  <%= pagenav.css(numpage, Get) %>
  <% else %>
  <ul class="">
      <li>Enter key words to search for blog title.</li>
      <li>Blank search will display all blog posts.</li>
  </ul>
  <% endif %>
  </form>
<% endblock %>
