body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  cursor:pointer !important;
}
body{
  line-height: 1;
}
ul, ul li {
	list-style:disc;
}
ol, ol li{
	list-style:decimal;
}
ul, ol {
  margin-left:24px;
}
ol.block,ul.block, ol.block li,ul.block li {
	list-style:none;
  margin:0px;
}


h1 {
	font-size:420%;
	/*color:#b20000 !important;*/
}

h2 {
	font-size:240%;
}

h3 {
	font-size:180%;
}

h4 {
	font-size:140%;
}

h6 {
	font-size:80%;
}

br {
	clear:both;
}

br.clear
{
    clear: both;
    height: 1px;
    overflow: hidden;
    margin-bottom: -1px;
    line-height: 1%;
    font-size: 0px;
}

em, i {
  font-style:italic !important;
}

strong, b {
	font-weight:bold !important;
}

hr, hr.line{
  border-color: #FFFFFF;
  border-style: inset;
  border-width: 1px;
  clear: both;
  height: 1px;
  margin:15px 0;
}

hr.dot {
	border-color:#333;
	border-style:dotted none none;
	border-width:1px;
	height:1px;
	clear:both;
}

a.remove{
	background:transparent url('assets/remove16px.gif') no-repeat scroll center center;
	float:left;
	height:24px;
	width:24px;
	cursor:pointer;
}
a.save{
	background:transparent url('assets/save16px.gif') no-repeat scroll center center;
	float:left;
	height:24px;
	width:24px;
	cursor:pointer;
}
a.remove:hover, a.save:hover {
	text-decoration:none !important;
	border:none !important;
	opacity: .5;
}
a.nohover:hover{
  text-decoration:none !important;
	border:none !important;
}

.loadergif{
	background:transparent url('assets/loader.gif') no-repeat scroll center center;
}

.fL {
	float:left;
}
.fR {
	float:right;
}
.mC {
	margin: 0px auto;
}

.grab{
	cursor: url(grab.cur), default;
}
.grabbing{
	cursor: url(grabbing.cur), default;
}
div.appvar {
  display:none !important;
}