.calendar{
	background: url('calendar.png') top left no-repeat transparent;
	padding: 3px 0px;
	height: 195px;
	padding-left:2px;
	padding-top:10px;
	width: 160px;
}
* html .calendar{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='calendar.png', sizingMethod='crop');
}
.calendar ul li{
	width: 22px;
	padding: 3px 0px;
	position:relative;
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	cursor: pointer;
}
.calendar ul.days {
	background-color:#ccc;
}
.calendar ul.dates li.xmonth{
	color: #ccc;
}
.calendar ul.dates li.today{
	color:#990000;
	font-weight:bold;
}
.calendar ul.dates li.selected{
	color:#fff;
	background-color:#333;
}
.calendar .todayis{
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	width:155px;
	padding:3px 0px;
	margin-right: 2px;
	background-color:#ccc;
}
.calendar ul.nav {
	width:100%;
}
.calendar ul.nav li{
	width:15%;
	text-align:center;
	margin-bottom: 3px;
}
.calendar ul.nav li.displayMonthYear{
	width:40%;
}