<% extends 'skin/appmanager.html' %>
<% import 'inc/pagenav.html' as pagenav %>

<% block header %>
  <%= pagenav.css() %>
<% endblock %>

<% block contentname %>Transactions<% endblock %>
<% block menu %>
  <h3>Transaction</h3>
  <a href="add">Add</a>
<% endblock %>

<% block body %>
  <form class="form" action="" >
  <input name="q" class="left OverText" alt="Search Transaction Name"> <input class="tiny" type="submit" value="Search" /><br />
  <br />
  <% if result %>
  <table>
      <tr>
          <th>Transaction</th>
          <th>Customer</th>
          <th width="180px">Status</th>
      </tr>
      <% for item in result %>
      <tr class="<%= ['row2', 'row1']|cycle(loop.index) %>">
          <td>
              <a href="<%= Uri.path %>/<%= result.txnid %>"><%= result.prod_name %></a>
              <br />
              <p style="color:#000;"><%= result.prod_descr %></p>
          </td>
          <td>
            
          </td>
          <td>
              <%= result.status %>
          </td>
      </tr>
      <% endfor %>

  </table><br />
  <%= pagenav.css(numpage, Get) %>
  <% else %>
  <ul class="">
      <li>Enter key words to search for transaction name.</li>
      <li>Blank search will display all transactions.</li>
  </ul>
  <% endif %>
  </form>
<% endblock %>
