<% extends 'skin/appmanager.html' %>
<% block header %>
<script type="text/javascript" src="<%= Uri.root %>js/mootools/wysiwyg/wysiwyg.js"></script>
<link rel="stylesheet" href="<%= Uri.root %>js/mootools/wysiwyg/style.css" type="text/css" />

<style type="text/css">
<% filter cssminify|raw %>
div#fileattachments-lists ul li a.remove{
  position: absolute;
  right: 7px;
  bottom: 16px;
  width:16px;
  height:16px;
}
<% endfilter %>
</style>
<% endblock %>
<% block jsinline %>
<script language="javascript" >
appvar.realtor = {
    typestat: <%= details.rl_typestat|default(0) %>
};
</script>
<% endblock %>

<% block jsdomready %>
<script language="javascript" >

$$('input.typestat').each(function(el){
    if (el.get('value') & appvar.realtor.typestat )
      el.fireEvent('click').setProperty('checked', true);
});

$$('a.remove').each(function(el){
    el.setStyle('opacity', 0);
    el.addEvent('click', function(){
        this.getParent().destroy();
    });
    el.getParent().addEvents({
      'mouseenter': function(){
        el.setStyle('opacity', 1);
      },
      'mouseleave': function(){
        el.setStyle('opacity', 0);
      }
    });
});

new wysiwyg({
	textarea: $('wysiwyg').getElement('textarea')
});

</script>
<% endblock %>

<% block contentname %>Realtors<% endblock %>
<% block menu %>
  <h3>Realtor</h3>
  <a href="<%= Uri.path %>/add">Add</a>
  <a href="<%= Uri.path %>">Search</a>
  <% if details.realtorid %>
  <a class="ConfirmBox" href="<%= Uri.path %>/<%= details.realtorid %>/delete" title="Continue to Delete Realtor?" style="color:#ccc;" >Delete</a>
  <% endif %>
<% endblock %>

<% block body %><a name="top"></a>
    <form class="form FormCheck" action="<%= Uri.path %>/save" method="post" enctype="multipart/form-data" autocomplete="off">
      <input name="d[realtorid]" value="<%= details.realtorid|default(0) %>" type="hidden" />
      <input name="d[rl_typestat][]" value="0" type="hidden" />
        <h3>
        <%= details.realtorid ? 'Realtor ID #' ~ details.realtorid : 'Add Realtor' %>
        </h3>
        <hr>

        <label class="required">First Name</label>
        <input name="d[rl_fname]" value="<%= details.rl_fname %>" type="text"  class="validate['required'] "><br/>

        <label class="required">Last Name</label>
        <input name="d[rl_lname]" value="<%= details.rl_lname %>" type="text"  class="validate['required'] "><br/>

        <label class="required">Email</label>
        <input name="d[rl_email]" value="<%= details.rl_email %>" type="text"  class="valideate['required','email'] "><br/>

        <label class="">List Order #</label>
        <input name="d[rl_sort]" value="<%= details.rl_sort %>" type="text"  class=" " style="width:100px;"><br/>

        <label>Settings </label><div class="fL">
          <input name="d[rl_typestat][]" value="1" class="left typestat" id="typebit1" type="checkbox"><label class="left normal" for="typebit1" style="">Shown</label><br>
          <input name="d[rl_typestat][]" value="2" class="left typestat" id="typebit2" type="checkbox"><label class="left normal" for="typebit2" style="">Featured</label><br>
        </div><br /><br />

        <label class="">Contact Numbers:</label><br />

        <label class="normal" >Office</label>
        <input name="d[rl_contact_no1]" type="text" value="<%= details.rl_contact_no1 %>" maxlength="255"  class="" /><br />

        <label class="normal" >Mobile</label>
        <input name="d[rl_contact_no2]" type="text" value="<%= details.rl_contact_no2 %>" maxlength="255" class="" /><br />

        <label class="normal">Fax</label>
        <input name="d[rl_fax]" type="text" value="<%= details.rl_fax %>" maxlength="255"  class="" /><br />
        
        <br />
        <hr>
        <input value="Save" type="submit" class="">
        <br>
        <br>
        <br>
        <sup class="fR"><a href="#top" class="SmoothScroll" style="font-size:10px">Top</a><a name="images"></a></sup>
        <h3>Realtor Images</h3>
        <hr/>
        <br />
        <div id="fileattachments-lists" class="" style="width:100%;">
          <ul class="Sortables docs block" style="padding-bottom: 18px; margin:0px; width:100%;" >
            <% set files = (Post.images is none ? details.Files : Post.images)  %>
            <% for item in files %>
            <% if item.fileid %>
            <li style="background-color: #e0e0e0; padding: 4px; width:200px; float:left; margin: 3px; position:relative; ">
              <a class="remove"></a>
              <div id="" class="imagecontainer handler" style="overflow:hidden; width:auto; height: 100px; background: url('<%= Uri.path %>/<%= details.realtorid %>/image/<%= item.fileid%>') no-repeat scroll center; " ></div>
              <hr class="dot" />
              <input type="hidden" name='images[<%= item.fileid %>][fileid]' value="<%= item.fileid %>" >
              <input type="hidden" name='images[<%= item.fileid %>][file_name]' value="<%= item.file_name %>" >
              <input type="text" name='images[<%= item.fileid %>][file_title]' value="<%= item.file_title %>" style="width:170px; padding-right:23px;" >
              <br />
            </li>
            <% endif %>
            <% endfor %>
          </ul>
        </div>
        <br />
        <br />
        <div id="fileattachments-uploader">
        <div class="uploadfield" style="width:auto; background-color:#ebebeb; padding:10px; border: 2px dashed #c8c8c8; " >
          <br />
          <div style="text-align:center; width:100%">
            <% for i in 0..1 %>
            <input type="hidden" name='images[uploadfile<%= i %>][fileid]' value="0" >
            <input type="hidden" name='images[uploadfile<%= i %>][file_index_name]' value="uploadfile<%= i %>" >
            <input name='uploadfile<%= i %>' type="file" style="width:auto"  /><br />
            <% endfor %>
          </div>
          <hr />
          <input type="submit" value="Save" style="" /> <input type="submit" value="Upload" style="" />
          <br />
        </div>
        </div>
        <br />
        <br />
        <h3>Realtor Profile Details</h3>
        <hr/>
        <br />
        <div class="weezee" id="wysiwyg">
            <textarea name="d[rl_details]" rows="5" cols="30"><%= details.rl_details %></textarea>
        </div>
        <br />
        <input value="Save" type="submit" class="">
        <br />
        <br />
        <br />
        <br />
        <br />
        <sup class="fR"><a href="#top" class="SmoothScroll" style="font-size:10px">Top</a><a name="metatags"></a></sup>
        <h3>Realtor SEO</h3>
        <hr/>
        <br />
        <label class="" >Page Title</label>
        <input name="d[Metatags][page_title]" type="text" value="<%= details.Metatags.page_title|default(details.rl_fname) %>" /><br />

        <label class="" >Meta tag  Title</label>
        <input name="d[Metatags][meta_title]" type="text" value="<%= details.Metatags.meta_title %>" /><br />

        <label class="" >Meta tag Description</label>
        <input name="d[Metatags][meta_descr]" type="text" value="<%= details.Metatags.meta_descr %>" /><br />

        <label class="" >Meta tag Keywords</label>
        <input name="d[Metatags][meta_keywords]" type="text" value="<%= details.Metatags.meta_keywords %>" /><br />

        <label class="" >Analytics</label>
        <textarea name="d[Metatags][meta_analytics]" style="width: 240px; height: 180px;"><%= details.Metatags.meta_analytics %></textarea><br />

        <br />
        <hr>
        <input value="Save" type="submit" class="">
        <br />
    </form>
<% endblock %>
