<% extends 'skin/appmanager.html' %>

<% block jsdomready %>
<script type="text/javascript">
    prodtypestat = $('prod_typestat').get('value');
    $$('input.typestat').each(function(el){
        if (el.get('value') & prodtypestat )
            el.fireEvent('click').setProperty('checked', true);
    });

</script>
<% endblock %>

<% block contentname %>Product<% endblock %>
<% block menu %>
  <h3>Product</h3>
  <a href="<%= Uri.path %>/add">Add</a>
  <a href="<%= Uri.path %>">Search</a>
  <% if details.productid %>
  <a class="ConfirmBox" href="<%= Uri.path %>/delete/<%= details.productid %>" title="Continue to Delete Product?" style="color:#ccc;" >Delete</a>
  <% endif %>
<% endblock %>

<% block body %>
    <form class="form FormCheck" action="<%= Uri.path %>/save" method="post" enctype="multipart/form-data" autocomplete="off">
      <input name="d[productid]" value="<%= details.productid %>" type="hidden" />
      <input id="prod_typestat" value="<%= details.prod_typestat|default(0) %>" type="hidden" />
      <input name="d[prod_typestat][]" value="0" type="hidden">
        <h3><a name="top"></a>
          <%= details.accountid ? 'Product ID #' ~ details.productid : 'Add Product' %>
        </h3>
        <hr>

        <label class="required" >Name</label>
        <input name="d[prod_name]" type="text" value="<%= details.prod_name %>"  class="validate['required'] " /><br />
        <label class="" ></label> <div class="fL" style="width:300px">
            <input name="d[prod_typestat][]" value="1" type="checkbox" class="left typestat" id="typebit1"  /><label class="left normal" for="typebit1" >Visible</label><br />
        </div><br />
        <br />
        <label class="" >Description</label>
        <input name="d[prod_descr]" type="text" value="<%= details.prod_descr %>"  class=" " /><br />

        <label class="">Price</label>
        <input name="d[prod_price]" type="text" value="<%= details.prod_price %>" class="validate['numeric']"  /><br />

        <label class="" >Group</label>
        <input name="d[prod_group]" type="text" value="<%= details.prod_group %>" /><br />
        <br />
        <label class="" >Product Settings <em>Yaml Config</em></label>
        <textarea name="d[prod_settings]" cols="55" rows="24" style="font-family:'Courier New', Courier, monospace"><%= details.prod_settings %></textarea>
        <br />
        <hr>
        <input value="Save" type="submit" class="">
        <br />
        <br />
    </form>
    <br />
    <br />

    <br />
    <br />
  
<% endblock %>



