div.weezee textarea {width:98%;height:200px;margin:0;border:none;overflow:auto;font-size:12px; line-height:18px; font-family:courier;}
div.weezee iframe{width:98%;height:200px;margin:10px 0px 0px 10px;border:none;overflow:auto;font-size:12px}

div.weezee .wysiwyg{border:1px solid #ccc}

div.weezee .toolbar{padding:5px;overflow:hidden;border-bottom:1px outset #999;background:#f9f9f9} * html .toolbar{height:0}

div.weezee .toolbar *{display:block;margin:0 1px;padding:1px 2px;border:1px solid #eee;width:16px;height:16px;float:left;background-repeat:no-repeat;background-position:center;cursor:default}
div.weezee .toolbar * html .toolbar *{width:22px;height:18px}
div.weezee .toolbar *:hover{background-color:#ffffb0;border-color:#999}
div.weezee .toolbar span {cursor:pointer;}
div.weezee .toolbar .spacer{border:none;width:0px;margin:2px 5px;border-right:2px solid #ccc}
div.weezee .toolbar .strong{background:url("toolbar.png") no-repeat scroll -56px 1px transparent;}
div.weezee .toolbar .em{background:url("toolbar.png") no-repeat scroll -127px 1px transparent;}
div.weezee .toolbar .u{background:url("toolbar.png") no-repeat scroll -343px 1px transparent;}
div.weezee .toolbar .superscript{background:url("toolbar.png") no-repeat scroll -307px 1px transparent;}
div.weezee .toolbar .subscript{background:url("toolbar.png") no-repeat scroll -289px 1px transparent;}
div.weezee .toolbar .left{background:url("toolbar.png") no-repeat scroll -163px 1px transparent;}
div.weezee .toolbar .center{background:url("toolbar.png") no-repeat scroll -73px 1px transparent;}
div.weezee .toolbar .right{background:url("toolbar.png") no-repeat scroll -235px 1px transparent;}
div.weezee .toolbar .indent{background:url("toolbar.png") no-repeat scroll -109px 1px transparent;}
div.weezee .toolbar .outdent{background:url("toolbar.png") no-repeat scroll -199px 1px transparent;}
div.weezee .toolbar .h1{background:url("toolbar.png") no-repeat scroll -534px 1px transparent;}
div.weezee .toolbar .h2{background:url("toolbar.png") no-repeat scroll -551px 1px transparent;}
div.weezee .toolbar .h3{background:url("toolbar.png") no-repeat scroll -569px 1px transparent;}
div.weezee .toolbar .ul{background:url("toolbar.png") no-repeat scroll -325px 1px transparent;}
div.weezee .toolbar .ol{background:url("toolbar.png") no-repeat scroll -181px 1px transparent;}
div.weezee .toolbar .p{background:url("toolbar.png") no-repeat scroll -586px 1px transparent;}
div.weezee .toolbar .img{background:url("toolbar.png") no-repeat scroll -360px 1px transparent;}
div.weezee .toolbar .link{background:url("toolbar.png") no-repeat scroll -379px 1px transparent;}
div.weezee .toolbar .unlink{background:url("toolbar.png") no-repeat scroll -397px 1px transparent;}
div.weezee .toolbar .clean{background:url("toolbar.png") no-repeat scroll -218px 2px transparent;}
div.weezee .toolbar .toggle{background:url("toolbar.png") no-repeat scroll -605px  1px transparent;}
div.weezee .toolbar .upload{background:url("toolbar.png") no-repeat scroll -468px  1px transparent;}
div.weezee .toolbar.disabled *{opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30)}
div.weezee .toolbar.disabled *:hover{background-color:transparent;border-color:#eee}
div.weezee .toolbar.disabled .toggle{background:url("toolbar.png") no-repeat scroll -1px 1px transparent;opacity:1;-moz-opacity:1;filter:alpha(opacity=100)}
div.weezee textarea, div.weezee iframe, div.weezee .wysiwyg{height:400px}
div.weezee .wysiwyg{height:auto}
div.weezee #imgs{padding:5px;height:58px;overflow:auto;background:#ccc}
div.weezee * html #imgs{height:0}
div.weezee #imgs img{display:block;height:48px;margin:5px;float:left}
div.weezee form{border:1px solid #ccc;display:block;padding:8px 16px;text-align:right}
div.weezee form input{padding:0 5px}

div.weezee .hidden{display:none !important}

a.wysiwyg_close_button {
    background-position: center center;
    background-repeat: no-repeat;
    background: url("toolbar.png") no-repeat scroll -415px 1px transparent;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    margin: 0 1px;
    padding: 1px 2px;
    width: 16px;
}